@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
  background: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-user-link,
.view-buttons-tile,
.view-buttons-card,
.view-buttons-list {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Кнопки */

.button-main {
  display: block;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background: #756157;
  border-radius: 4px;
  padding: 8px 0;
  cursor: pointer;
}

.button-main:hover {
  background: #615048;
}

.button-main:focus {
  background: #615048;
}

.button-main:active {
  color: #FFFFFF4D;
  background: #756157;
}

.button-selected:disabled {
  background: #E5E5E5;
}

.button-additional {
  display: block;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #82b3d3;
  border: none;
  padding: 8px 0;
}

.button-additional:hover {
  background: #68A2CA;
}

.button-additional:focus {
  background: #68A2CA;
}

.button-additional:active {
  color: #FFFFFF4D;
  background: #82B3D3;
}

.button-additional:disabled {
  background: #E5E5E5;
}

.button-transparent {
  display: block;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  border: 3px solid #83B3D3;
}

.button-transparent:active {
  color: #FFFFFF4D;
}

.button-transparent:disabled {
  background: #E5E5E5;
}

.button-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #7DB54F;
  border: none;
  padding: 8px 0;
}

.button-selected:hover {
  background: #6C9E42;
}

.button-selected:focus {
  background: #6C9E42;
}

.button-selected:active {
  color: #FFFFFF4D;
  background: #7DB54F;
}

.button-selected:disabled {
  background: #E5E5E5;
}

.header-button {
  min-width: 160px;
  margin: auto 70px auto auto;
}

.search-hotels-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  margin: 0 auto;
  border: 0;
}

.filters-group-buttons {
  margin-left: auto;
}

.filters-submit-button,
.filters-reset-button {
  width: 191px;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.filters-submit-button {
  margin: 56px 0 32px auto;
}

.catalog-button {
  border-radius: 4px;
  width: 140px;
}

.button-add-favorite {
  border-radius: 4px;
  cursor: pointer;
  width: 140px;
}

.subscribe-button {
  min-width: 232px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Шапка и навигация */

.page-header {
  display: flex;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 20px 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  z-index: 1;
}

.navigation-item {
  min-width: 68px;
  min-height: 64px;
}

.navigation-user {
  display: flex;
  margin: 0 0 0 auto;
}

.navigation-logo {
  margin-right: 28px;
  z-index: 1;
  margin-bottom: -10px;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 0 18px;
  margin: 0 16px;
  border-bottom: 2px solid transparent;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  cursor: default;
}

.navigation-user-item {
  width: 44px;
}

.navigation-user-item:nth-child(1) {
  background: url("../images/icons/search.svg") no-repeat 50% 50%;
}

.navigation-user-item:nth-child(2) {
  background: url("../images/icons/like.svg") no-repeat 50% 50%;
}

.navigation-user-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 7px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  border-radius: 50%;
}


.main-index,
.main-inner {
  flex-grow: 1;
}

/* Баннер на главной  */

.hero {
  background: url("../images/backgrounds/devider.svg") no-repeat bottom, url("../images/backgrounds/index-background.jpg") no-repeat, #afacac;
  background-size: 100% auto, cover;
  text-align: center;
  max-height: 485px;
  padding: 51px 0 78px;
  margin-bottom: 69px;
}

.hero-image {
  margin: 0 auto;
  padding: 0;
}

/* Преимущества */

.advantages {
  margin-bottom: 64px;
}

.advantages-main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 630px;
  margin: 0 auto 25px;
}

.advantages-main-description {
  color: #333333;
  font-family: PT Sans;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item img {
  display: flex;
}

.advantages-item {
  display: flex;
  min-height: 385px;
  background: #83b3d31f;
}

.advantages-item:nth-child(4n+1) {
  grid-column: 1 / -1;
}

.advantages-item:nth-child(odd) {
  min-height: 385px;
  background: #83b3d333;
}

.advantages-item:has(.advantages-image) {
  background: #82b3d3;
  color: #ffffff;
}

.advantages-item:has(.advantages-image) .advantages-description {
  color: #ffffff;
}


.advantages-content {
  padding: 102px 85px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
  height: auto;
  margin: 0 auto 62px;
}

.advantages-description {
  color: #333333;
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
}

.background-main {
  background: #82b3d3;
  color: #ffffff;
}

/* Инфраструктура */

.features-head-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 500px;
  margin: 0 auto 20px;
}

.features-head-description {
  color: #333333;
  font-family: PT Sans;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 64px;
}

.features-list {
  display: flex;
  min-height: 385px;
}

.features-item {
  width: calc(100%/3);
  padding: 80px 85px;
}

.features-item:nth-child(1) {
  background: #83b3d31f url("../images/icons/house.svg") no-repeat;
  background-position: center 82px;
}

.features-item:nth-child(2) {
  background: url("../images/icons/food.svg") no-repeat;
  background-position: center 82px;
}

.features-item:nth-child(3) {
  background: #83b3d31f url("../images/icons/gift.svg") no-repeat;
  background-position: center 82px;
}

.features-content {
  margin-top: 102px;
}

.features-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.features-description {
  color: #333333;
  text-align: center;
  max-width: 230px;
  margin: auto;
}

/* Предложение поиска */

.search-hotels {
  margin: 96px auto;
  text-align: center;
}

.search-hotels-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-hotels-description {
  color: #333333;
  font-family: PT Sans;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 54px auto;
}

/* Секция с формой подписки */

.subscribe {
  padding: 96px 0 104px;
  text-align: center;
  background: url("../images/backgrounds/subscribe-background.jpg") no-repeat;
  background-size: 100% auto, cover;
}

.subscribe-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.subscribe-description {
  color: #ffffff;
  font-family: PT Sans;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto 54px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe-email {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 412px;
  border-radius: 4px 0 0 4px;
  border: none;
  background: #f2f2f2;
  padding: 14px 0 14px 20px;
  flex-grow: 1;
}

.subscribe-email:focus {
  border: none;
}

/* Футер */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.social {
  display: flex;
  margin: auto 0;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-item:nth-child(1) {
  background: url("../images/icons/vk.svg") no-repeat;
  background-position: center;
}

.social-item:nth-child(1):hover {
  mask-image: url("../images/icons/vk.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca;
}

.social-item:nth-child(1):focus {
  mask-image: url("../images/icons/vk.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca;
}

.social-item:nth-child(1):active {
  mask-image: url("../images/icons/vk.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca4d;
}

.social-item:nth-child(2) {
  background: url("../images/icons/tg.svg") no-repeat;
  background-position: center;
}

.social-item:nth-child(2):hover {
  mask-image: url("../images/icons/tg.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca;
}

.social-item:nth-child(2):focus {
  mask-image: url("../images/icons/tg.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca;
}

.social-item:nth-child(21):active {
  mask-image: url("../images/icons/tg.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca4d;
}

.social-item:nth-child(3) {
  background: url("../images/icons/youtube.svg") no-repeat;
  background-position: center;
}


.social-item:nth-child(3):hover {
  mask-image: url("../images/icons/youtube.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca;
}

.social-item:nth-child(3):focus {
  mask-image: url("../images/icons/youtube.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca;
}

.social-item:nth-child(3):active {
  mask-image: url("../images/icons/youtube.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #68a2ca4d;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding: 5px;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: #7561574d;
}

.author-logo {
  display: flex;
}

.main-inner-header {
  background: url("../images/backgrounds/filter-background.jpg") no-repeat;
  background-size: 100% auto, cover;
}

/* Страница каталога */

/* Заголовок и фильтры */

.main-inner-header {
  padding: 35px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-family: PT Sans;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/* Хлебные крошки */
.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0 0 40px;
}

.breadcrumbs-link {
  display: flex;
  min-width: 14px;
  min-height: 100%;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item:nth-child(1) {
  background: url("../images/icons/home.svg") no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

/* Фильтры */

.filters-form {
  display: flex;
  flex-wrap: wrap;
}

.filters-group {
  width: 150px;
  border: none;
  padding: 0;
  margin: 0;
}

.filters-group-infrastructure {
  margin-right: 70px;
}

.filters-group-type {
  margin-right: 140px;
}

.filters-group-price {
  width: 292px;
}

.filters-list {
  margin: 0;
  padding: 0;
}

.filters-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.filters-item {
  margin-bottom: 16px;
}

.control {
  color: #ffffff;
  line-height: 23px;
}

.filter-price-input {
  display: inline-block;
  color: #000000;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 103px;
  margin: 0;
  background: #f2f2f2;
  padding: 12px 20px;
  border: 0;
}

.filter-price-input-from {
  border-radius: 4px 0 0 4px;
  content: "От";
}

.filter-price-input-to {
  border-radius: 0 4px 4px 0;
}

/* Каталог и карточки отелей */
.catalog {
  padding: 50px 70px 60px 50px;
}

.catalog-head-container {
  display: flex;
  margin-bottom: 40px;
}

.catalog-title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-sorting {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: #ffffff;
  width: 292px;
  padding: 14px 0 14px 20px;
  cursor: pointer;
  margin-left: auto;
}

.catalog-sorting:hover {
  border: 2px solid #68A2CA;
}

.catalog-sorting:focus {
  border: 2px solid #68A2CA;
}

.catalog-sorting:disabled {
  color: #0000004D;
  border: 2px solid #0000004D;
}

.view-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
}

.view-buttons-item {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 8px;
}

.view-buttons-item:hover {
  border: 2px solid #000000;
}

.view-buttons-item:focus {
  border: 2px solid #68a2ca;
}

.view-buttons-item:active {
  border: 2px solid #000000;
}


.view-buttons-item-current {
  border: 2px solid #000000;
}

.view-buttons-item:nth-child(1) {
  background: url("../images/icons/tile-view.svg") no-repeat;
  background-position: center;
}

.view-buttons-item:nth-child(2) {
  background: url("../images/icons/card-view.svg") no-repeat;
  background-position: center;
}

.view-buttons-item:nth-child(3) {
  background: url("../images/icons/list-view.svg") no-repeat;
  background-position: center;
}

/* Карточки отелей */
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0 0 80px;
  gap: 20px;
}

.catalog-item {
  width: 300px;
  padding: 20px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.catalog-item-image {
  margin-bottom: 16px;
}

.catalog-item-title {
  /* Headings/Heading 3 none case */
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0 0 16px 0;
}

.catalog-item-link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.catalog-type {
  display: inline-block;
  color: #333333;
  width: 140px;
  margin: 0 0 16px 0;
}

.catalog-price {
  display: inline-block;
  color: #333333;
  text-align: right;
  width: 140px;
  margin: 0 0 16px;
}

.catalog-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog-rating-container {
  display: flex;
  justify-content: space-between;
}

.catalog-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 37px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}

.catalog-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 37px;
}

/* Вывод звезд на карточку */
.one-stars {
  background: url("../images/icons/star.svg") no-repeat;
  background-position: 0 center;
}

.two-stars {
  background: url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat;
  background-position: 0 center, 24px center, 48px center;
}

.three-stars {
  background: url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat;
  background-position: 0 center, 24px center, 48px center, 72px center;
}

.four-stars {
  background: url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat;
  background-position: 0 center, 24px center, 48px center, 72px center, 96px center;
}

.five-stars {
  background: url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat, url("../images/icons/star.svg") no-repeat;
  background-position: 0 center, 24px center, 48px center, 72px center, 96px center, 120px center;
}


/* Пагинация */
.pagination {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-item {
margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  background: #82b3d3;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  background: #82b3d3;
  color: #FFFFFF30
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background: #f2f2f2;
}


.pagination-text {
  color: #000000;
font-family: PT Sans;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
  background: #ffffff;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

/* Подписка на рассылку на побочных */

.subscribe-inner {
padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-inner-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-inner-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto 54px;
}

.flex-tets {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.flex-tets-1 {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: green;
}
.flex-tets-2 {
  flex-grow: 2;
  background-color: red;

}
